@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
img {
  border-radius: 20px;
}
@font-face {
  font-family: Anurati;
  font-weight: bold;
  src: url("Anurati-Regular.ttf") format("opentype");
}
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--lighter);
  }
body {
  background-color: var(--bg);
}
:root {
    --bg: #fcfcfc;
    --text-color: #000;
    --navbar: #ffffff;
    --lighter: #bababa;
  }
  @media (prefers-color-scheme: dark){
    :root {
      --bg: #060606;
        --text-color: #fff;
        --navbar: #232323;
        --lighter: #414141;
    }
  }
  .navbar {
    margin-left: 20px;
    margin-top: calc((100vh - 270px) / 2);
    top: 0;
    left: 0;
    border-radius: 50px;
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    height: 270px;
    justify-content: center;
    background-color: var(--navbar);
    border: 1px solid var(--lighter);
  }
  .navelem {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    background-color: #2b2b2b;
    border-radius: 50px;
    height: 35px;
    width: 35px;
    margin: 5px;
    transition: ease-in-out .1s;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
  }
  .navelem.icon {
    color: var(--text-color);
    background-color: transparent;
    filter: unset;
  }
  .navelem i {
    margin-top: 1px;
  }
  .navelem:hover {
    background-color: var(--lighter);
  }
  .navbar img {
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid var(--lighter);
    width: 40px;
    margin-bottom: 8px;
  }

.home {
    width: calc(100% - 90px);
    margin-left: 90px;
    min-height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home h2 {
  margin-top: 40px;
  text-align: center;
  color: var(--text-color);
  font-weight: 600;
  font-size: 35px;
}
.home h1{
  letter-spacing: 15px;
  font-family: 'Anurati';
  text-align: center;
    font-weight: 600;
    font-size: 55px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.741));
}
.home h5{
  text-align: center;
    font-weight: 400;
    font-size: 20px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.741));
}
.header p {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.741));
}
.home p{
  color: var(--text-color);
  max-width: 80%;
  text-align: center;
  margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    
}
.home p.w{
  color: #fff;
}
@media screen and (max-width: 600px) {
  .navbar{
    margin-left: 0;
    margin-bottom: 20px;
    bottom: 0;
    width: 270px;
    height: 60px;
    flex-direction: row;
    top: unset;
    margin-left: calc((100vw - 270px) / 2);
  }
  .navbar img {
    border-radius: 50px;
    border: 1px solid var(--lighter);
    width: 40px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .home {
    width: 100%;
    min-height: 100vh;
    margin-left: 0;
    margin-bottom: 50px;
  }
  .home h1{
    letter-spacing: 10px;
      font-size: 40px;
  }
}

.home .header {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  width: 90%;
  border: 1px solid var(--lighter);
  border-radius: 40px;
  color: #fff;
  background-color: #000;
  background-image: url('img/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards .card {
cursor: pointer;
transition: 0.5s;
display: flex;
flex-direction: column;
border-radius: 20px;
width: 350px;
margin: 10px;
height: 400px;
background-color: var(--navbar);
border: 1px solid var(--lighter);
}
.imgcontainer {
  display: flex;
  justify-content: center;
margin: 10px;
border-radius: 18px;
border: 1px solid var(--lighter);
overflow: hidden;
width: calc(100% - 20px);
height: 220px;
}
.imgcontainer img {
cursor: pointer;
height: 100%;
width: auto;
}
.imgcontainer.center {
display: flex;
justify-content: center;
}
.cardtext {
color: var(--text-color);
font-weight: 600;
font-size: 18px;
margin: 5px 20px;
}
.carddesc {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  margin: 5px 20px;
  }
.skillicons {
  margin-top: 50px;
  border-radius: unset;
}


